.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6e4555;
  }
  
  .profile-box {
    background: #3a3238;
    border-radius: 50px;
    padding: 40px;
    width: 300px;
    height: 275px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .profile-box h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: white;
  }
  
  .profile-info {
    margin: 10px 0;
    font-size: 16px;
    color: white;
  }
  
  .profile-info.large {
    font-size: 20px;
    font-weight: bold;
  }
  
  .logout-button {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border: none;
    background-color: #6e4555;
    color: white;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
  }
  